<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>

<div class="container user-passwords">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card mb-3 user-passwords-no-border">
        <h3 class="spree-mb-large spree-mt-large spree-header"><%= Spree.t(:change_your_password) %></h3>
        <div class="card-body">
          <%= form_for @spree_user, as: :spree_user, url: spree.update_password_path, method: :put do |f| %>
            <div class="form-group">
              <%= f.label :password, Spree.t(:password), class: 'spree-flat-label' %>
              <%= f.password_field :password, class: "spree-flat-input" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, Spree.t(:confirm_password), class: 'spree-flat-label' %>
              <%= f.password_field :password_confirmation, class: "spree-flat-input" %>
            </div>
            <%= f.hidden_field :reset_password_token %>
            <%= f.submit Spree.t(:update), class: 'btn btn-primary btn-block spree-btn mt-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
