<% content_for :page_title do %>
  <%= Spree.t(:user_account) %>
<% end %>

<table>
  <tr data-hook="email">
    <th><%= Spree.t(:email) %></th>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr data-hook="roles">
    <th><%= Spree.t(:roles) %></th>
    <td>
      <%= @user.spree_roles.pluck(:name).join(', ') %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @user, :class => 'edit_user' %> <%= Spree.t(:or) %>
  <%= link_to Spree.t(:back), collection_url %>
</p>
