<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>

<div class="container user-passwords">
  <div class="row">
    <div class="col-lg-6 offset-lg-3" id="forgot-password">
      <div class="card mb-3 user-passwords-no-border">
        <h3 class="spree-mb-large spree-mt-large spree-header"><%= Spree.t(:forgot_password) %></h3>
        <div class="card-body">
          <p><%= Spree.t(:instructions_to_reset_password) %></p>

          <%= form_for Spree.user_class.new, as: :spree_user, url: spree.reset_password_path do |f| %>
            <div class="form-group">
              <%= f.email_field :email, class: "spree-flat-input", placeholder: Spree.t(:email) %>
            </div>
            <div>
              <%= f.submit Spree.t(:reset_password), class: 'btn btn-primary btn-block spree-btn mt-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
