<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<div data-hook="login">
  <%= form_for Spree::User.new, :as => :spree_user, :url => spree.admin_create_new_session_path do |f| %>
    <div id="password-credentials">
      <%= f.label :email, Spree.t(:email), class: "sr-only" %>
      <%= f.email_field :email, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
      <%= f.label :password, Spree.t(:password), class: "sr-only" %>
      <%= f.password_field :password, :class => 'form-control', :tabindex => 2, placeholder: Spree.t(:password) %>
    </div>
    <div class="checkbox">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, :tabindex => 3 %>
        <%= Spree.t(:remember_me) %>
      <% end %>
    </div>
    <%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-primary btn-block', :tabindex => 4 %>
  <% end %>
  <p class="margint">
    <%= Spree.t(:or) %> <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
  </p>
</div>

<div data-hook="login_extras"></div>
