<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class="col-lg-6 offset-lg-3">
  <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title mb-0 h6"><%= Spree.t(:new_customer) %></h3>
      </div>
      <div id="new-customer" class="card-body" data-hook="login">
          <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
            <div data-hook="signup_inside_form">
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <div><%= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block' %></div>
            </div>
          <% end %>
          <div class="text-center">
            <%= Spree.t(:or) %>
              <%= link_to Spree.t(:login_as_existing), spree.login_path %>
          </div>
          <div data-hook="login_extras"></div>
      </div>
  </div>
</div>
