<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: spree.spree_user_confirmation_path, html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>

<%#= render "devise/shared/links" %>
